body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 50;
  padding: 20;
  width: 50%;
  margin-left: 25%;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.form-body {
  width: 50%;
  margin-left: 25%;
}